---
layout: default
permalink: /presentations.html
---

<h1>Prezentációk</h1>

{% assign pres = site.presentation | where: "published", "true" %}

{% assign hu_pres = pres | where: "lan", "hu" %}
{% assign en_pres = pres | where: "lan", "en" %}

<h2>Magyar</h2>
<ul>
    {% for item in hu_pres %}
    <li>
        <a href="{{item.url}}">{{item.title}}</a>
    </li>
    {% endfor %}
</ul>
<h2>English</h2>
<ul>
{% for item in en_pres %}
<li>
    <a href="{{item.url}}">{{item.title}}</a>
</li>
{% endfor %}
</ul>