---
layout: presentations
title: "Bevezetés a React-ba"
lan: hu
---

{% include react/intro.md title='Bevezetés a React-ba' %}
{% include react/react-toc.md %}
{% include react/javascript-nyelvi-featurek.md title='Javascript Áttekintés' subtitle='Nyelvi Feature-ök' %}
{% include react/ujdonsagok-az-es6-ban.md title='Javascript Áttekintés' subtitle='Újdonságok az ES6ban' %}
{% include react/typescript-bevezeto.md title='Typescript Bevezető' %}
{% include react/fejlesztoi-kornyezet-felepitese.md title='A Fejlesztői Környezet' %}
