---
layout: presentations
title: "CI/CD Implementálása"
subtitle: "Maven, Gradle, Jenkins és Docker használatával" 
lan: hu
listed: true
---

{% include cicd/intro.md title='CI/CD Implementálása' subtitle='Maven, Gradle, Jenkins és Docker használatával' %}
{% include cicd/cicd-toc.md %}
{% include cicd/project.md title='Hogy Néz Ki Egy Projekt?' %}
{% include cicd/cicd-intro.md title='CI/CD Fogalmak' %}
{% include cicd/build-tools.md title='Maven & Gradle' %}
{% include cicd/docker.md title='Docker' %}
{% include cicd/cicd-in-practice.md title='CI/CD a Gyakorlatban' %}
{% include cicd/misc-topics.md title='Egyéb Témák' %}

# Kérdések